<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blogs/all-blogs">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
</ul>
<div class="jumbotron">
    <h1 class="display-3" id="titlejumb"><%= title %></h1>
    <p class="lead"><%= lead %></p>
    <hr class="my-2">
    <p><%= desc %></p>
</div>