<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <h1>The page you requested is not found</h1>
    <a class="btn btn-primary" href="/" role="button">Go back</a>    
  
    <%- include('./partials/additional.ejs') %>
    
    <%- include('./partials/footer.ejs') %>

</body>

</html>